* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body,
html {
    height: 100%
}

html {
    font-size: 16px
}

body {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    padding: 0;
    text-rendering: optimizeLegibility;
    text-transform: none;
    margin: 0;
}

h1,
h2 {
    text-transform: uppercase;
}

header {
    width: 100%;
    height: auto;
}

.hall {

    width: 100%;

    height: auto;

    display: flex;

    align-items: center;

    justify-content: center;



}

.hsmall {

    width: 70%;

    height: auto;

}

article section {

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

}

.box {

    width: 100%;

    height: 100%;

    background-color: yellow;

    color: black;

    display: flex;

    flex-direction: column;

    text-align: center;

}

.cskh {

    position: relative;

    width: 70%;

    height: 150px;

    padding-bottom: 20px
}

.box_text {

    margin: 0 auto;

}

.dc {

    width: 100%;

    height: auto;

    display: flex;

}

.boxx {

    background-color: rgb(224, 226, 227);

    width: 32%;

    height: auto;

    top: 0px;

    margin: 20px 10px;

    display: flex;

    flex-direction: column;

}

.boxx>h2 {

    text-align: center;

}

.boxx>.text {

    margin: auto;

}

.btn {

    width: 30%;

    height: 30px;

    line-height: 30px;

    margin: auto;

    background-color: black;

    box-shadow: 5px 5px 5px gray;

}

.btn a {

    text-decoration: none;

    color: white;

}

.btn:hover a,
.btn:hover {

    background-color: rgba(255, 255, 255, 0.6);

    color: black;

    box-shadow: 0 0 0;

}

.title {

    width: 70%;

    height: auto;

}

.link a {

    font-size: 13px;

    color: rgba(0, 0, 0, 0.7);

}

.link a:hover {

    background-color: black;

    color: white;

}

.boxx .text {

    color: black !important;

}

.boxx .text p {

    color: black;

}

.boxx .text_1 b {

    text-transform: uppercase;

    font-size: 32px;

}

.title address {

    padding: 30px;

    color: rgba(0, 0, 0, 0.7);

}

.signup {

    width: 100%;

    height: 136px;

    background-color: #ede734;

    display: flex;

    justify-content: center;

    align-items: center;

    margin-top: 60px;

}



.su {

    width: 90%;

    height: 100%;

    display: flex;

    justify-content: center;

    align-items: center;

}



.su>.strong {

    width: 422px;

    height: 65px;

    line-height: 35px;

    font-size: 28px;

    font-family: AdihausDIN;

    display: flex;

    justify-content: center;

    align-items: center;

}



.su>.strong>strong {

    width: 275px;

    height: 65px;

}



.su>.text {

    width: 460px;

    height: 50px;

    line-height: 50px;

    text-align: center;

    color: #fff;

    display: flex;

    justify-content: center;

    align-items: center;

}



.su>.text>p {

    width: 288px;

    height: 50px;

    background-color: #000;

}

footer {

    position: relative;

    width: 100%;

    height: auto;

}



footer>.top {

    width: 100%;

    height: 374px;



}



footer>.top>.content {

    height: 374px;

    width: 1010px;

    margin: auto;

    display: flex;

    align-items: start;

    justify-content: center;

}



footer>.top>.content>.content_2 {

    margin: 15px 20px;

}



footer>.top>.content>.content_2>h3 {

    width: 172px;

    height: 18px;

    font-size: 18px;

}



footer>.top>.content>.content_2>p {

    color: #888384;

    margin: 10px 0;

    font-size: 13px;

}



footer>.bot {

    height: 61px;

    width: 100%;

    background-color: #363738;

    display: flex;

    align-items: end;

    justify-content: center;

}



.bot>p,

.bot>a {

    color: #c8cbcc;

    line-height: 61px;

    margin: 0 30px;

    text-align: center;

}



.bot>a:hover {

    color: gray;

}

header {

    width: 100%;

    position: fixed;

    top: 0;

    left: 0;

    z-index: 999;

}



header {

    width: 100%;

    height: auto;

    position: fixed;

    top: 0;

    left: 0;

    z-index: 1001;

}



header>.thongbao {

    display: flex;

    background-color: black;

    width: 100%;

    height: 27px;

    line-height: 27px;

    font-size: 12px;

    font-weight: bold;



}



header>.thongbao>.tb1 {

    color: white;

    margin-right: 150px;

    margin-left: 170px;

}



header>.thongbao>.tb2 {

    color: white;

    margin-right: 200px;

    margin-left: 140px;

}



header>.thongbao>.tb3 {

    color: white;

}



header>.menu-logo {

    width: 100%;

    height: 79px;

    background-color: white;

    border: 1px solid lightgray;

}



a>img {

    width: 102px;

    height: 68px;

    margin-left: 50px;

}



header>.menu-logo>nav>ul {

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: row;

}



ul>li {

    width: 30%;



}



header>.menu-logo>nav>ul>li>a {

    margin-left: 50px;

    font-size: 24px;

    text-decoration: none;

    color: black;

}



header>.menu-logo>nav>ul>li>a:hover {

    color: #ea4636;

}



.n .dropdown {

    width: 186px;

    height: 79px;

    overflow: hidden;

}



.n .dropdown>.dropbtn {

    width: 100%;

    height: 100%;

    font-size: 24px;

    color: black;

    background-color: inherit;

    font-family: calibri;

    margin-top: 25px;

}



.n .dropdown-content {

    display: none;

    position: absolute;

    margin-left: -35px;

    background-color: rgba(0, 0, 0, 0.8);

    height: 100px;

    font-size: 24px;

}



.n .dropdown-content a {

    color: white;

    text-decoration: none;

    display: block;

    width: 160px;

    height: 50px;

    line-height: 50px;

    text-align: center;

}



.n .dropdown-content a:hover {

    background-color: rgba(255, 255, 255, 0.8);

    color: black;

}



.n .dropdown:hover .dropdown-content {

    display: block;

}

.t {

    display: none;

}



.n {

    display: block;

}

@media screen and (max-width: 767px) {

    .t {

        width: 100%;

        height: auto;

        display: block !important;

    }



    .t .dropdownn {

        width: 100%;

        height: 68px;

        overflow: hidden;

        margin-bottom: 0 !important;

        margin: auto;

    }



    .t a,

    .t li {

        margin: 0 !important;

    }



    .t .dropdownn>.dropbtn {

        width: 100%;

        height: 100%;

        font-size: 24px;

        color: black;

        background-color: inherit;

        font-family: calibri;

        margin: 0;

        border: none !important;

    }



    .t .dropdown-content {

        display: none;

        position: absolute;

        margin-left: -35px;

        background-color: rgba(0, 0, 0, 0.8);

        height: 100px;

        font-size: 24px;

    }



    .t .dropdown-content>li {

        border-top: 1px solid black;

    }



    .t>.dropdown-content a {

        color: white;

        text-decoration: none;

        text-align: center;

    }



    .t .dropdown-content li:hover {

        background-color: rgba(255, 255, 255, 0.8);

        color: black;

    }



    .t .dropdownn:hover .dropdown-content {

        display: block;

    }



    .t .dropdown>.dropbtn {

        width: 100% !important;

        height: 50px !important;

    }



    .t .dropdown-content {

        width: 100%;

        height: auto;

        margin-top: -10px !important;

        left: 0;

    }



    .t .dropdown-content a {

        width: 100%;

        height: auto;

        color: black !important;

    }



    .t .dropdown-content a:hover {

        color: white !important;

    }



    .t .dropdown-content>li {

        border-top: 1px solid black;

    }



    .t .dropdown-content>li>a {

        width: 100% !important;

        padding-left: 50px !important;

        text-align: center !important;

    }



    .dropdown {

        width: 100%;

        height: 50px !important;

        overflow: hidden;

    }



    .dropdown .dropbt {

        width: 100% !important;

        height: 100px !important;

        font-size: 24px;

        color: black;

        font-family: calibri;

        margin: 0;

        line-height: 50px;

    }



    .dropdown li:hover .dropdown-contentt {

        display: block !important;

    }



    .dropdown-contentt {

        width: 100%;

        height: auto;

        left: 0;

        display: none;

        position: absolute;

        margin-top: 0px !important;

        height: 50px;

        font-size: 24px;

    }



    .dropdown-contentt a {

        width: 100% !important;

        color: black !important;

        text-decoration: none;

        display: block;

        line-height: 50px;

        text-align: center;

    }





    .dropdown-contentt a:hover {

        background-color: white;

        color: black !important;

    }



    #logo {

        width: 100% !important;

    }



    .n {

        display: none !important;

    }



    header {

        width: 100%;

        height: auto;

    }



    .thongbao {

        flex-wrap: wrap;

        margin: 0;

        width: 100%;

        height: 81px !important;

        text-align: center;

    }



    header>.thongbao>.tb1 {

        width: 100%;

        margin: 0 !important;

    }



    header>.thongbao>.tb2 {

        width: 100%;

        margin: 0 !important;

    }



    header>.thongbao>.tb3 {

        width: 100%;

        margin: 0;

    }



    header>.menu-logo {

        height: auto !important;

    }



    ul>a {

        width: 100%;

        height: auto;

    }



    header>.menu-logo>nav>ul {

        flex-wrap: wrap;

        text-align: center;

    }



    header>.menu-logo>nav>ul>li>a:hover {

        color: #ea4636;

    }



    ul>li>ul {

        margin: 0 auto !important;

    }



    ul>li>ul>li {

        width: 100%;

        background-color: white;

    }



    .dropdown>.dropbt {

        width: auto !important;

        height: 79px !important;

        line-height: 50px;

    }



    .dropdown .dropdown-contentt {

        width: 100%;

        left: 0;

    }



    .dropdown .dropdown-contentt a {

        width: 100%;

        height: auto;

        color: black !important;



    }



    .dropdown .dropdown-contentt a:hover {

        background-color: rgba(0, 0, 0, 0.8) !important;

        color: white !important;

    }



    .dropdown .dropdown-contentt>li>a {

        width: 100% !important;

        padding-left: 50px !important;

        text-align: center !important;

        border: 1px dotted black;

    }

    banner {

        display: none;

    }



    footer .top {

        display: none !important;

    }



    footer .bot {



        font-size: 10px;

    }

    #box {

        height: 153px !important;

    }

}



#box {

    width: 100%;

    height: 107px;

}