* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: auto;
    position: relative;
}

.boxall {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

header>.thongbao {
    display: flex;

    background-color: black;
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    font-weight: bold;

}

header>.thongbao>.tb1 {
    color: white;
    margin-right: 150px;
    margin-left: 170px;
}

header>.thongbao>.tb2 {
    color: white;
    margin-right: 200px;
    margin-left: 140px;
}

header>.thongbao>.tb3 {
    color: white;
}

header>.menu-logo {
    width: 100%;
    height: 79px;
    background-color: white;
    border: 1px solid lightgray;
}

a>img {
    width: 102px;
    height: 68px;
    margin-right: 50px;
}

header>.menu-logo>nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

ul>li {
    width: max-content;
    margin: 0 auto;
}

header>.menu-logo>nav>ul>li>a {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

header>.menu-logo>nav>ul>li>a:hover {
    color: #ea4636;
}

.n .dropdown {
    width: 186px;
    height: 79px;
    overflow: hidden;
}

.n .dropdown>.dropbtn {
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: black;
    background-color: inherit;
    font-family: calibri;
    margin-top: 25px;
}

.n .dropdown-content {
    display: none;
    position: absolute;
    margin-left: -35px;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100px;
    font-size: 24px;
}

.n .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.n .dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.n .dropdown:hover .dropdown-content {
    display: block;
}


form>h2 {
    margin: 40px 0px 15px 15px;
    font-size: 52px;
    font-weight: 600;
    line-height: 44px;
    text-transform: uppercase;
}

form>.form {
    margin: 15px;
    width: 100%-30px;
}

form label {
    font-size: 20px;
}

.form-control {
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid;
    width: 470px;
    height: 50px;
    color: black;
    display: block;

}

.sex-hobbies {
    background-color: white;
    width: 470px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    margin: 10px 0;
}

.note {
    margin: 10px 0;
    padding: 10px;
    border: 1 black;
    width: 470px;
    height: 120px;
    color: black;
    display: block;
}

.SignUp {
    width: 165px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px #999999;
    line-height: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
    float: left;
}

.boxall>.createpro {
    width: 500px;
    height: 557px;
    right: 0;
    margin-right: 166px;
    right: 0;
}

.boxall>.createpro>.create {
    width: 100%;
}

.boxall>.createpro>.create>h2 {
    margin: 40px 0px 15px 0px;
    font-size: 44px;
    font-weight: 600px;
    line-height: 44px;
    text-transform: uppercase;
}

.sai {
    background-color: yellow;
}

.boxall>form {
    margin-left: 108px;
    width: 500px;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    height: auto;
    bottom: 0;
}

footer>.top {
    width: 100%;
    height: 374px;

}

footer>.top>.content {
    height: 374px;
    width: 1010px;
    margin: auto;
    display: flex;
    align-items: start;
    justify-content: center;
}

footer>.top>.content>.content_2 {
    margin: 15px 20px;
}

footer>.top>.content>.content_2>h3 {
    width: 172px;
    height: 18px;
    font-size: 18px;
}

footer>.top>.content>.content_2>p {
    color: #888384;
    margin: 10px 0;
    font-size: 13px;
}

footer>.bot {
    height: 61px;
    width: 100%;
    background-color: #363738;
    display: flex;
    align-items: end;
    justify-content: center;
}

.bot>p,
.bot>a {
    color: #c8cbcc;
    line-height: 61px;
    margin: 0 30px;
    text-align: center;
}

.bot>a:hover {
    color: gray;
}

.trong {
    width: 100%;
    height: 1px;
    background-color: black;
}

.signup {
    width: 100%;
    height: 136px;
    background-color: #ede734;
    display: flex;
    justify-content: center;
    align-items: center;
}

.su {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.su>.strong {
    width: 422px;
    height: 65px;
    line-height: 35px;
    font-size: 28px;
    font-family: AdihausDIN;
    display: flex;
    justify-content: center;
    align-items: center;
}

.su>.strong>strong {
    width: 275px;
    height: 65px;
}

.su>.text {
    width: 460px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.su>.text>p {
    width: 288px;
    height: 50px;
    background-color: #000;
}

.t {
    display: none;
}

.n {
    display: block;
}

#box {
    width: 100%;
    height: 107px;
}

@media screen and (max-width: 767px) {
    .boxall>.createpro {
        height: auto;
        margin: auto;
    }

    form>h2 {
        margin-top: 50px;
    }

    .boxall {
        flex-direction: column;
    }

    #box {
        height: 153px !important;
    }

    .t {
        width: 100%;
        height: auto;
        display: block !important;
    }

    .t .dropdownn {
        width: 100%;
        height: 68px;
        overflow: hidden;
        margin-bottom: 0 !important;
        margin: auto;
    }

    .t a,
    .t li {
        margin: 0 !important;
    }

    .t .dropdownn>.dropbtn {
        width: 100%;
        height: 100%;
        font-size: 24px;
        color: black;
        background-color: inherit;
        font-family: calibri;
        margin: 0;
        border: none !important;
    }

    .t .dropdown-content {
        display: none;
        position: absolute;
        margin-left: -35px;
        background-color: rgba(0, 0, 0, 0.8);
        height: 100px;
        font-size: 24px;
    }

    .t .dropdown-content>li {
        border-top: 1px solid black;
    }

    .t>.dropdown-content a {
        color: white;
        text-decoration: none;
        text-align: center;
    }

    .t .dropdown-content li:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }

    .t .dropdownn:hover .dropdown-content {
        display: block;
    }

    .t .dropdown>.dropbtn {
        width: 100% !important;
        height: 50px !important;
    }

    .t .dropdown-content {
        width: 100%;
        height: auto;
        margin-top: -10px !important;
        left: 0;
    }

    .t .dropdown-content a {
        width: 100%;
        height: auto;
        color: black !important;
    }

    .t .dropdown-content a:hover {
        color: white !important;
    }

    .t .dropdown-content>li {
        border-top: 1px solid black;
    }

    .t .dropdown-content>li>a {
        width: 100% !important;
        padding-left: 50px !important;
        text-align: center !important;
    }

    .dropdown {
        width: 100%;
        height: 50px !important;
        overflow: hidden;
    }

    .dropdown .dropbt {
        width: 100% !important;
        height: 100px !important;
        font-size: 24px;
        color: black;
        font-family: calibri;
        margin: 0;
        line-height: 50px;
    }

    .dropdown li:hover .dropdown-contentt {
        display: block !important;
    }

    .dropdown-contentt {
        width: 100%;
        height: auto;
        left: 0;
        display: none;
        position: absolute;
        margin-top: 0px !important;
        height: 50px;
        font-size: 24px;
    }

    .dropdown-contentt a {
        width: 100% !important;
        color: black !important;
        text-decoration: none;
        display: block;
        line-height: 50px;
        text-align: center;
    }


    .dropdown-contentt a:hover {
        background-color: white;
        color: black !important;
    }

    #logo {
        width: 100% !important;
    }

    .n {
        display: none !important;
    }

    header {
        width: 100%;
        height: auto;
    }

    .thongbao {
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        height: 81px !important;
        text-align: center;
    }

    header>.thongbao>.tb1 {
        width: 100%;
        margin: 0 !important;
    }

    header>.thongbao>.tb2 {
        width: 100%;
        margin: 0 !important;
    }

    header>.thongbao>.tb3 {
        width: 100%;
        margin: 0;
    }

    header>.menu-logo {
        height: auto !important;
    }

    ul>a {
        width: 100%;
        height: auto;
    }

    header>.menu-logo>nav>ul {
        flex-wrap: wrap;
        text-align: center;
    }

    header>.menu-logo>nav>ul>li>a:hover {
        color: #ea4636;
    }

    ul>li>ul {
        margin: 0 auto !important;
    }

    ul>li>ul>li {
        width: 100%;
        background-color: white;
    }

    .dropdown>.dropbt {
        width: auto !important;
        height: 79px !important;
        line-height: 50px;
    }

    .dropdown .dropdown-contentt {
        width: 100%;
        left: 0;
    }

    .dropdown .dropdown-contentt a {
        width: 100%;
        height: auto;
        color: black !important;

    }

    .dropdown .dropdown-contentt a:hover {
        background-color: rgba(0, 0, 0, 0.8) !important;
        color: white !important;
    }

    .dropdown .dropdown-contentt>li>a {
        width: 100% !important;
        padding-left: 50px !important;
        text-align: center !important;
        border: 1px dotted black;
    }

    banner {
        display: none;
    }

    footer .top {
        display: none !important;
    }

    footer .bot {

        font-size: 13px;
    }
}